# Exercise: Age Groups

In [1]:
import pandas as pd
import numpy as np

In [2]:
ages = np.random.randint(0,100,20)

In [3]:
ages

array([39, 80, 38, 11, 49, 60, 56, 32,  5, 53, 50, 60, 43, 24, 63, 62, 41,
       37, 31, 20])

# Pure Python

One option would be to group the data into categories and storing the results in a `dict` object

In [4]:
# Sort list into Groups
groups = {
     '0 - 9' : [],
     '10 - 19' : [],
     '20 - 29' : [],
     '30 - 39' : [],
     '40 - 49' : [],
     '50 - 59' : [],
     '60 - 69' : [],
     '70 - 79' : [],
     '80 - 89' : [],
     '90 - 99' : [],
}   
for age in ages:
    if age < 10:
        groups['0 - 9'].append(age)
    elif age < 20:
        groups['10 - 19'].append(age)
    elif age < 30:
        groups['20 - 29'].append(age)
    elif age < 40:
        groups['30 - 39'].append(age)
    elif age < 50:
        groups['40 - 49'].append(age)
    elif age < 60:
        groups['50 - 59'].append(age)
    elif age < 70:
        groups['60 - 69'].append(age)
    elif age < 80:
        groups['70 - 79'].append(age)
    elif age < 90:
        groups['80 - 89'].append(age)
    elif age < 100:
        groups['90 - 99'].append(age)

In [5]:
groups

{'0 - 9': [5],
 '10 - 19': [11],
 '20 - 29': [24, 20],
 '30 - 39': [39, 38, 32, 37, 31],
 '40 - 49': [49, 43, 41],
 '50 - 59': [56, 53, 50],
 '60 - 69': [60, 60, 63, 62],
 '70 - 79': [],
 '80 - 89': [80],
 '90 - 99': []}

## Pandas

In [6]:
data = pd.DataFrame(ages, columns=['ages'])

In [7]:
data

    ages
0     39
1     80
2     38
3     11
4     49
5     60
6     56
7     32
8      5
9     53
10    50
11    60
12    43
13    24
14    63
15    62
16    41
17    37
18    31
19    20

In [8]:
labels = ["{0} - {1}".format(i, i + 9) for i in range(0, 100, 10)]

In [9]:
data['groups'] = pd.cut(data.ages, range(0, 101, 10), right=False, labels=labels)

In [10]:
data

    ages   groups
0     39  30 - 39
1     80  80 - 89
2     38  30 - 39
3     11  10 - 19
4     49  40 - 49
5     60  60 - 69
6     56  50 - 59
7     32  30 - 39
8      5    0 - 9
9     53  50 - 59
10    50  50 - 59
11    60  60 - 69
12    43  40 - 49
13    24  20 - 29
14    63  60 - 69
15    62  60 - 69
16    41  40 - 49
17    37  30 - 39
18    31  30 - 39
19    20  20 - 29